/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1e1e2e;
    color: white;
    text-align: center;
}

/* Estilos de header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282a36;
    padding: 15px 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    height: 60px;
    margin-right: 10px;
}

.social img {
    width: 40px;
    height: 40px;
    margin-right: 0px;
}

nav {
    display: flex;
    gap: 15px;
}

nav button {
    background-color: #fff01b;
    border: none;
    padding: 10px 15px;
    color: #004bee;
    cursor: pointer;
    border-radius: 5px;
}

.social a {
    color: white;
    margin-left: 10px;
    text-decoration: none;
}

/* Estilos de main */
main {
    padding: 20px;
}

.contenido {
    display: none;
}

.contenido.activo {
    display: block;
}

/* Estilos de footer */
footer {
    background-color: #282a36;
    padding: 10px;
    margin-top: 20px;
}

/* Estilos de tabla */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 2px solid #ffffff;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #fff01b;
    color: #004bee;
}

td {
    background-color: #444;
}

/* Estilos de premios */
.premios-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    text-align: center;
    padding: 40px;
    max-width: 1400px;
    margin: 0 auto;
}

.premio {
    background: #585353;
    border-radius: 12px;
    padding: 25px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.premio-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.premio img {
    max-width: 180px; 
    border-radius: 12px;
}

.premio p {
    font-size: 1.2rem;
    max-width: 250px;
}

/* Media Queries para dispositivos pequeños */
@media (max-width: 768px) {
    .premios-container {
        grid-template-columns: 1fr; /* En pantallas chicas, se pone en una sola columna */
    }

    .premio img {
        max-width: 150px; /* Ajustamos el tamaño en móvil */
    }
}

/* Estilos para la transmisión de Twitch */
.stream-box {
    max-width: 800px;
    margin: 20px auto;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #333;
    color: white;
}

td a {
    text-decoration: none;
    font-weight: bold;
}

td a:hover {
    color: red;
}
